<%= form_for(@wedding) do |f| %>
  <% if @wedding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wedding.errors.count, "error") %> prohibited this wedding from being saved:</h2>

      <ul>
      <% @wedding.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :groom %><br />
    <%= f.text_field :groom %>
  </div>
  <div class="field">
    <%= f.label :bride %><br />
    <%= f.text_field :bride %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
