<h1>Listing weddings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Groom</th>
    <th>Bride</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th>Address</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @weddings.each do |wedding| %>
  <tr>
    <td><%= wedding.name %></td>
    <td><%= wedding.groom %></td>
    <td><%= wedding.bride %></td>
    <td><%= wedding.longitude %></td>
    <td><%= wedding.latitude %></td>
    <td><%= wedding.address %></td>
    <td><%= wedding.description %></td>
    <td><%= link_to 'Show', wedding %></td>
    <td><%= link_to 'Edit', edit_wedding_path(wedding) %></td>
    <td><%= link_to 'Destroy', wedding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wedding', new_wedding_path %>
