<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @wedding.name %>
</p>

<p>
  <b>Groom:</b>
  <%= @wedding.groom %>
</p>

<p>
  <b>Bride:</b>
  <%= @wedding.bride %>
</p>


<%= link_to 'Edit', edit_wedding_path(@wedding) %> |
<%= link_to 'Back', weddings_path %>
