<h1 class="text-center">Listing galleries</h1>

<table class="table table-striped">

<% @galleries.each do |gallery| %>
  <tr class="table table-striped">
    <td><h3><%= gallery.name %></h3></td> <br \>
    <td><%= link_to 'Show', gallery %></td><br \>
    <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
    <td><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<h4 class="text-center"><i><%= link_to 'New Gallery', new_gallery_path %></i></h4>
